name: Demo Two Deployment
on:
  push:
    branches:
      - main
      - working-branch
  workflow_dispatch:
env:
  VITE_APP_NAME: DemoTwoApp
jobs:
  print-env:
    runs-on: ubuntu-latest
    steps:
      - name: Print Environment Variables
        run: echo "VITE_APP_NAME is $VITE_APP_NAME"
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
      - name: Cache Node.js modules
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: dependency-cache-${{ hashFiles('**/package-lock.json') }}
      - name: Install dependencies
        run: npm ci
      - name: Run Tests
        run: npm test
  build:
    needs: test
    runs-on: ubuntu-latest
    outputs:
      script-file: ${{ steps.publish-js-filename.outputs.script-file }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
      - name: Cache Node.js modules
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: dependency-cache-${{ hashFiles('**/package-lock.json') }}
      - name: Install dependencies
        run: npm ci
      - name: Build
        run: npm run build
      - name: Publish Js filename
        id: publish-js-filename
        run: find dist/assets/*.js -type f -execdir echo 'script-file={}' >> $GITHUB_OUTPUT ';'
      - name: Archive Production Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: production-artifacts
          path: |
            dist
            package.json
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download Production Artifacts
        uses: actions/download-artifact@v4
        with:
          name: production-artifacts
      - name: List Artifacts
        run: |
          echo "Contents of the production-artifacts:"
          ls
          cat package.json
      - name: Output Script File name
        run: echo "Script file is ${{ needs.build.outputs.script-file }}"
      - name: Deploy Application
        run: echo "Deploying application..." # Replace with actual deployment commands
